<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = mapper接口的全限定符 -->
<mapper namespace="com.campushub.community.mapper.DiscussPostMapper">

    <!--公用sql，提取重复的sql语句-->
    <sql id="selectFields">
        id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>

    <!--查询帖子列表
    List<DiscussPost> selectDiscussPosts(int userId, int offset, int limit);-->
    <select id="selectDiscussPosts" resultType="com.campushub.community.entity.DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where status != 2  <!--排除拉黑帖子 -->
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
        order by type desc, create_time desc
        limit #{offset}, #{limit} <!--分页 -->
    </select>

    <!--查询帖子行数
    int selectDiscussPostRows(@Param("userId") int userId);-->
    <select id="selectDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status != 2
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
    </select>

</mapper>